textarea{
    height: 200px;
}



.nav-container {
    height: 4em;
    background: #286090;

}

ul li {
    height: 4em;
    background: #fff;
    transition: all .2s;


}

ul li a {
    font-size: 1.6em;
    font-weight: bold;

    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    color: #15344E;
}

 ul li:hover {
   background-color: #23527c;
     color: #fff;
}

 .btn-info {
     background-color: #286090;
 }

.btn-info:hover {
    background-color: #15344E;
}